<%= form_for(task) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <% if !task.new_record? %>
    <div>
    <p></p> <%= f.check_box :completed %>
    <%= f.label :completed %>
    </div>
  <% end %>
  <%= f.submit %>
<% end %>
